<div class="page">
  <div id="main" itemprop="mainContentOfPage" role="main" tabindex="-1" class="main-content">
    <section class="region">
      <div class="layout layout--wide">
        <h1 class="h1">Ember VO Webuniversum showcase</h1>
        <div class="introduction">
          <p>A showcase of the Webuniversum components of Vlaanderen.</p>
        </div>
      </div>
    </section>

    <section class="region">
      <div class="layout layout--wide">
        <h2 class="h2">Alerts</h2>
        <div>
          {{wu-alert title="Standaard alert" message="Lorem ipsum dolor sit amet, consecetur adipisicing elit."}}

          {{#wu-alert title="Standaard alert met block"}}
            <p>Lorem ipsum dolor sit amet, consecetur <u>adipisicing</u> elit.</p>
            <ul>
              <li>One</li>
              <li>Two</li>
              <li>Three</li>
            </ul>
          {{/wu-alert}}

          {{wu-alert title="Alert met waarschuwings indicatie" message="Lorem ipsum dolor sit amet, consecetur adipisicing elit." isWarning=true}}

          {{wu-alert title="Alert call to action" message="Lorem ipsum dolor sit amet, consecetur adipisicing elit." button="Click me" onClick=(action "dummyClick")}}
        </div>
      </div>
    </section>

    <section class="region">
      <div class="layout layout--wide">
        <h2 class="h2">Accordion</h2>
        <div>
          {{#wu-accordion label="Open/sluit" openAtStart=true}}
            <p>Lorem ipsum dolor sit amet, consecetur adipisicing elit.</p>
          {{/wu-accordion}}
        </div>
      </div>
    </section>

    <section class="region">
      <div class="layout layout--wide">
        <h2 class="h2">Datepicker</h2>
        <div>
          <p>Selected date: {{dateValue}}</p>
          {{wu-datepicker value=dateValue maxDate='08.03.2018'}}
        </div>
      </div>
    </section>

    <section class="region">
      <div class="layout layout--wide">
        <h2 class="h2">Date range</h2>
        <div>
          <p>Selected dates: from {{fromDateValue}} to {{toDateValue}}</p>
          {{wu-date-range fromValue=fromDateValue toValue=toDateValue
            fromPlaceholder='01.01.2018' toPlaceholder='31.12.2018'
            fromMaxDate='08.03.2018'}}
        </div>
      </div>
    </section>

    <section class="region">
      <div class="layout layout--wide">
        <h2 class="h2">Buttons</h2>
        <div>
          <h4 class="h4">Button with Ember block</h4>
          {{#wu-button onClick=(action "dummyClick")}}Click me{{/wu-button}}
        </div>

        <div>
          <h4 class="h4">Block button</h4>
          {{wu-button isBlock=true label='Click me' onClick=(action "dummyClick")}}
        </div>

        <div>
          <h4 class="h4">Button command below</h4>
          {{wu-button label='Click me' command='ctrl+s' commandLocation='below' onClick=(action "dummyClick")}}
        </div>

        <div>
          <h4 class="h4">Disabled button</h4>
          {{wu-button disabled=true label='Click me' onClick=null}}
        </div>

        <div>
          <h4 class="h4">Large button</h4>
          {{wu-button size='large' label='Click me' onClick=(action "dummyClick")}}
        </div>

        <div>
          <h4 class="h4">Narrow button</h4>
          {{wu-button isNarrow=true label='Click me' onClick=(action "dummyClick")}}
        </div>

        <div>
          <h4 class="h4">Wide button</h4>
          {{wu-button isWide=true label='Click me' onClick=(action "dummyClick")}}
        </div>

        <div>
          <h4 class="h4">Link button dark</h4>
          {{wu-button isLink=true isDark=true label='Click me' onClick=(action "dummyClick")}}
        </div>

        <div>
          <h4 class="h4">Link button</h4>
          {{wu-button isLink=true label='Click me' onClick=(action "dummyClick")}}
        </div>

        <div>
          <h4 class="h4">Loading button</h4>
          {{wu-button isLoading=true label='Click me' onClick=null}}
        </div>

        <div>
          <h4 class="h4">Secondary button</h4>
          {{wu-button isSecondary=true label='Click me' onClick=(action "dummyClick")}}
        </div>

        <div>
          <h4 class="h4">Warning button</h4>
          {{wu-button isWarning=true label='Click me' onClick=(action "dummyClick")}}
        </div>

        <div>
          <h4 class="h4">Anchor tag button</h4>
          {{wu-link-button isWarning=true label='Click me' onClick=(action "dummyClick")}}
        </div>
      </div>
    </section>

    <section class="region">
      <div class="layout layout--wide">
        <h2 class="h2">Button group</h2>
        <div>
          {{#wu-button-group}}
            {{wu-button label='Button 1' onClick=(action "dummyClick")}}
            {{wu-button label='Button 2' isSecondary=true onClick=(action "dummyClick")}}
            {{wu-button label='Button 3' isWarning=true onClick=(action "dummyClick")}}
          {{/wu-button-group}}
        </div>
        <div>
          <h4 class="h4">Inline</h4>
          {{#wu-button-group isInline=true}}
            {{wu-link-button label='Datum: 20 oktober 2018' onClick=(action "dummyClick")}}
            {{wu-link-button icon='vi-magnifier' onClick=(action "dummyClick")}}
            {{wu-link-button icon='vi-cross' onClick=(action "dummyClick")}}
          {{/wu-button-group}}
        </div>
      </div>
    </section>

    <section class="region">
      <div class="layout layout--wide">
        <h2 class="h2">Checkbox</h2>
        {{#wu-checkbox checked=isCheckedOpt1}}Option 1{{/wu-checkbox}}
        {{wu-checkbox checked=isCheckedOpt2 label="Option 2" disabled=true}}

        <h4 class="h4">Checkbox block</h4>
        {{wu-checkbox checked=isCheckedOpt1Block label="Option 1" isBlock=true}}
        {{wu-checkbox checked=isCheckedOpt2Block label="Option 2" isBlock=true error="This is an error message"}}
      </div>
    </section>

    <section class="region">
      <div class="layout layout--wide">
        <h2 class="h2">Radio button</h2>
        {{wu-radio-button label="radio value 1" value="radio value 1" checked=1 onChange=(action 'dummyClick')}}
        {{wu-radio-button label="radio value 2" value="radio value 2" onChange=(action 'dummyClick')}}

          <h4 class="h4">Radio button block</h4>
          {{wu-radio-button isBlock=true label="radio value 1" value="radio value 1" onChange=(action 'dummyClick')}}
          {{wu-radio-button isBlock=true label="radio value 2" value="radio value 2" onChange=(action 'dummyClick')}}

      </div>
    </section>

    <section class="region">
      <div class="layout layout--wide">
        <h2 class="h2">Switch</h2>
        {{wu-switch checked=isCheckedSwitch label="My switch" disabled=true}}
      </div>
    </section>

    <section class="region">
      <div class="layout layout--wide">
        <h2 class="h2">Icons</h2>
        <p>Magnifier: {{wu-icon "vi-magnifier"}}</p>
        <p>Scissors: {{wu-icon "fa-scissors"}}</p>
      </div>
    </section>

    <section class="region">
      <div class="layout layout--wide">
        <h2 class="h2">Pills</h2>
        {{wu-pill label="Concept"}}
        {{wu-pill label="Notulen publiek"}}
      </div>
    </section>

    <section class="region">
      <div class="layout layout--wide">
        <h2 class="h2">Modal dialog</h2>

        {{wu-button label='show simple dialog' onClick=(action "showSimpleDialog")}}
        {{wu-button label='show dialog with actions' onClick=(action "showDialog")}}
        {{#if showSimpleModal}}
          {{#wu-modal title="A dialog example" onClose=(action 'dismissModal') as |m|}}
            {{#m.content}}
              <p>uptates repudiandae reiciendis officia minima molestiae. Quia labore et eum voluptatem sunt et exercitationem. Molestiae et vitae natus pariatur est reprehenderit similique. Porro soluta rerum at.</p>
              <p>Aspernatur amet dicta mollitia. Consequatur qui dolores quo omnis exercitationem natus. Qui iusto quaerat vitae natus sed totam aperiam voluptate. Vel cum molestias esse qui dolor unde vel. Hic qui labore aut.</p>
            {{/m.content}}
          {{/wu-modal}}
        {{/if}}
        {{#if showModal}}
          {{#wu-modal title="A dialog example" onClose=(action 'dismissModal') as |m|}}
            {{#m.content}}
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit dolore, cumque ex, amet beatae doloremque at? Quis libero ipsam illo consectetur sed aut dicta inventore eum deleniti repellendus, aliquid perferendis.
            {{/m.content}}
            {{#m.buttons as |b|}}
              {{b.button label="Call to action" onClick=(action 'doSomethingFromModal')}}
              {{b.button label="Dismiss" onClick=(action 'dismissModal') isLink=true icon="vi-cross"}}
            {{/m.buttons}}
          {{/wu-modal}}
        {{/if}}
      </div>
    </section>

    <section class="region">
      <div class="layout layout--wide">
        <h2 class="h2">Popover</h2>
        <h3 class="h3">Custom toggle</h3>
        {{#wu-popover as |p|}}
          {{#p.toggle}}
            {{wu-icon ""}}
            <button class="vi vi-u-badge vi-u-badge--grey vi-u-badge--small vi-question" type="button">
              <span class="u-visually-hidden">Opties</span>
            </button>
          {{/p.toggle}}
          {{#p.content}}
            Popover content
          {{/p.content}}
        {{/wu-popover}}

        <h3 class="h3">Button toggle</h3>
        {{#wu-popover-button label="Downloaden" as |p|}}
          {{p.item label="Lorem ipsum" onClick=(action "dummyClick")}}
          {{p.item label="Test link" onClick=null}}
          {{p.item label="Active link" onClick=(action "dummyClick")}}
          {{p.item label="Dolor sit" onClick=(action "dummyClick")}}
        {{/wu-popover-button}}
      </div>
    </section>

    <section class="region">
      <div class="layout layout--wide">
        <h2 class="h2">Document miniature</h2>
        {{wu-document-miniature type="JSON" label="JSON: voor spreadsheet editors zoals Excel of Numbers."
          metadata="JSON - 1.4MB" onClick=(action "dummyClick")}}
      </div>
    </section>

    <section class="region">
      <div class="layout layout--wide">
        <h2 class="h2">Badges</h2>
        {{wu-badge size="small" icon="vi-calendar" border=true}}
        {{wu-badge initials="VO" isAccent=true}}
        {{wu-badge size="large" icon="vi-plus" isAlt=true}}
        {{wu-badge size="xlarge" initials="VO" border=true}}
        {{#wu-badge}}
          <img class="badge__img" src="https://placehold.it/150x150" alt="badge with block">
        {{/wu-badge}}
      </div>
    </section>

    <section class="region">
      <div class="layout layout--wide">
        <h2 class="h2">Info tile</h2>
        <div>
          <h4 class="h4">Header only</h4>
          {{wu-info-tile title="Info tile zonder badge en inhoud" subtitle="7 maart 2017"}}
          {{wu-info-tile title="Info tile zonder badge en inhoud" subtitle="7 maart 2017" isAlt=true}}
        </div>
        <div>
          <h4 class="h4">Info tile met inhoud</h4>
          {{#wu-info-tile as |i|}}
            {{i.header title="Info tile met inhoud" subtitle="7 maart 2017"}}
            {{#i.content}}
              <p><strong>Beslissingsbrief Studietoelage</strong></p>
              <p>De studietoelage voor Broos Deprez werd toegekend.</p>
            {{/i.content}}
          {{/wu-info-tile}}
        </div>
        <div>
          <h4 class="h4">Info tile met badge en inhoud</h4>
          {{#wu-info-tile as |i|}}
            {{#i.header title="Info tile met een badge en inhoud" subtitle="7 maart 2017"}}
              {{wu-badge icon="vi-document-small" isAccent=true}}
            {{/i.header}}
            {{#i.content}}
              <p><strong>Beslissingsbrief Studietoelage</strong></p>
              <p>De studietoelage voor Broos Deprez werd toegekend.</p>
            {{/i.content}}
          {{/wu-info-tile}}
        </div>
        <div>
          <h4 class="h4">Clickable info tile met badge en inhoud</h4>
          {{#wu-info-tile onClick=(action "dummyClick") as |i|}}
            {{#i.header title="Info tile met een badge en inhoud" subtitle="7 maart 2017"}}
              {{wu-badge icon="vi-document-small" isAccent=true}}
            {{/i.header}}
            {{#i.content}}
              <p><strong>Beslissingsbrief Studietoelage</strong></p>
              <p>De studietoelage voor Broos Deprez werd toegekend.</p>
            {{/i.content}}
          {{/wu-info-tile}}
        </div>
        <div>
          <h4 class="h4">Centered, large info tile</h4>
          {{#wu-info-tile center=true size="large" as |i|}}
            {{i.header title="Centered large info tile" icon="vi-tag"}}
            {{#i.content}}
              <p>beschrijvende text dat ook een <strong>highlight</strong> kan bevatten nibh ultricies ut justo odio.</p>
            {{/i.content}}
            {{#i.footer}}
              {{wu-button label="Test" isBlock=true onClick=(action "dummyClick")}}
            {{/i.footer}}
          {{/wu-info-tile}}
        </div>

      </div>
    </section>
    <section class="region">
      <div class="layout layout--wide">
        <h2 class="h2">Wizard</h2>
        {{#wu-wizard as |wizard|}}
          {{#wizard.step as |step|}}
            {{step.header title='step 1'}}
            {{#step.pane as |pane|}}
              Some content here
              {{#wu-button-group}}
                {{wizard.next}}
              {{/wu-button-group}}
            {{/step.pane}}
          {{/wizard.step}}
          {{#wizard.step as |step|}}
            {{step.header title='step 2'}}
            {{#step.pane as |pane|}}
              Some extra content here
              {{#wu-button-group}}
                {{#wu-button-group isInline=true}}
                  {{wizard.previous}}
                  {{#wu-button onClick=(action 'dummyClick')}}finish{{/wu-button}}
                {{/wu-button-group}}
              {{/wu-button-group}}
            {{/step.pane}}
          {{/wizard.step}}
        {{/wu-wizard}}
        <h2 class="h2">Numeric Wizard</h2>
        {{#wu-wizard isNumeric=true as |wizard|}}
          {{#wizard.step as |step|}}
            {{step.header title='step 1'}}
            {{#step.pane as |pane|}}
              Some content here
              {{#wu-button-group}}
                {{wizard.next}}
              {{/wu-button-group}}
            {{/step.pane}}
          {{/wizard.step}}
          {{#wizard.step as |step|}}
            {{step.header title='step 2'}}
            {{#step.pane as |pane|}}
              Some extra content here
              {{#wu-button-group}}
                {{#wu-button-group isInline=true}}
                  {{wizard.previous}}
                  {{wizard.next}}
                {{/wu-button-group}}
              {{/wu-button-group}}
            {{/step.pane}}
          {{/wizard.step}}
          {{#wizard.step as |step|}}
            {{step.header title='step 3'}}
            {{#step.pane as |pane|}}
              even more content here
              {{#wu-button-group}}
                {{#wu-button-group isInline=true}}
                  {{wizard.previous}}
                  {{#wu-button onClick=(action 'dummyClick')}}finish{{/wu-button}}
                {{/wu-button-group}}
              {{/wu-button-group}}
            {{/step.pane}}
          {{/wizard.step}}

      {{/wu-wizard}}
      </div>
    </section>
    <section class="region">
      <div class="layout layout--wide">
        <h2 class="h2">Contact Card</h2>
        <div>
          {{#contact-card as |c|}}
            {{#c.header}}Contactgegevens{{/c.header}}
            {{#c.content contactInfo=contactInfo as |content|}}
              {{content.address}}
              {{content.telephone}}
              {{content.fax}}
              {{content.email}}
              {{content.website}}
              {{#content.row label="Extra"}}
                some extra information
              {{/content.row}}
              {{#content.row label="Extra 2"}}
                even more information
              {{/content.row}}
            {{/c.content}}
          {{/contact-card}}
        </div>
      </div>
    </section>

    <section class="region">
      <div class="layout layout--wide">
        <h2 class="h2">Content header</h2>
        {{wu-content-header tagline="Mandatendatabank"}}
        {{wu-content-header tagline="Mandatendatabank" prefix="Instituut" title="Naam van instituut"}}
        {{#wu-content-header title="Mandatendatabank"}}
          <img sizes="100vw" src="//www.vlaanderen.be/sites/default/files/ip_acm/page_banner_wide_alt/header.jpg" srcset="//www.vlaanderen.be/sites/default/files/ip_acm/page_banner_mobile_alt/header.jpg 320w, //www.vlaanderen.be/sites/default/files/ip_acm/page_banner_narrow/header.jpg 1024w, //www.vlaanderen.be/sites/default/files/ip_acm/page_banner_wide_alt/header.jpg 1600w" alt="" title="">
        {{/wu-content-header}}
      </div>
    </section>
  </div>
</div>

{{outlet}}
